#
# Build Docker Images for both pull_request and push operations
#
name: Build Status
on:
  [ pull_request, workflow_dispatch]
jobs:
  publish-image:
    name: Build Docker Images
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro: [
          "fedora-32", "fedora-34",
          "opensuse-leap-15.2", "opensuse-leap", "opensuse-leap-ossl3",
          "fedora-32.ppc64le",
          "alpine-3.15",
          "ubuntu-22.04", "ubuntu-22.04-mbedtls-3.1", "ubuntu-24.04"
        ]
    steps:
      -
        name: Check out the repo
        uses: actions/checkout@v3
      -
        name: Check Diff for Changes
        uses: technote-space/get-diff-action@v6
        with:
          FILES: |
            ${{ matrix.distro }}.docker.m4
          PATTERNS: |
            modules/*
      -
        name: Build the Dockerfiles
        run: make -j $(nproc)
        if: env.GIT_DIFF
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        if: env.GIT_DIFF
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        if: env.GIT_DIFF
      -
        name: Build Docker Images
        uses: docker/build-push-action@v4
        with:
          push: false
          context: .
          file: ./${{ matrix.distro }}.docker
        if: env.GIT_DIFF
